{% extends "::base.html.twig" %}
{% block title %}Your Ad Campaigns{% endblock %}
{% block body %}
    
{% include "topnav.html.twig" %}

<div class="content-wrapper" style="padding: 50px; padding-top: 80px;">
    <div class="container" style="">
        <div style="margin-bottom: 30px;">
            <h2 style="color: grey;">My Campaigns</h2>
        </div>
        {% for key in vcamp %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                          <h4 class="card-title" style="margin-bottom: 30px;">{{ key.name }}</h4>
                          <div>
                              <h6 style="display: inline !important;">Budget:</h6>
                              <p style="display: inline !important;"> {{ key.budget }}</p>
                          </div>    
                          <div>
                              <h6 style="display: inline !important;">Daily Budget:</h6>
                              <p style="display: inline !important;"> {{ key.siteName }}</p>
                          </div>
                          <div>
                              <h6 style="display: inline !important;">Site URL: </h6>
                              <p style="display: inline !important;"> {{ key.siteUrl }}</p>
                          </div>
                        </div>
                        <div style="margin-top: 40px;" class="col-sm-8" align="center">
                              <span valign="middle">
                                <a  class="btn btn-lg btedit" href="{{ path('adcampaign_edit', { 'id': key.id }) }}" >
                                    <i class="fa fa-edit" aria-hidden="true"></i> Edit Campaign</a>
                              </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}   
    </div>
    <div align="center" class="container" style="max-height: 80px;margin-top: 30px;margin-bottom: 30px;">
        <span><a class="btn btn-lg btcreate" href="{{ path('adcampaign_new')| trans }}"><i class="fa fa-plus" aria-hidden="true"></i>  Create New Ad Campaign</a></span>  
    </div>
</div>
{% include "footer.html.twig" %}
{% block stylysheets %}
    <style>
        .btedit{
            color: #fff;
            background-color: #27cadc;
            border-color: #27cadc;
        }
        .btedit:hover {
            color: #fff;
            background-color: #31a1bd;
            border-color: #31a1bd;
        }
        .btcreate{
           width: auto;
           background-color: #fff; 
           color: grey; 
           border-style: none;
        }
        .btcreate:hover {
            color: #fff;
            background-color: #7e33e6;
            border-color: #7e33e6;
        }
    </style>
{% endblock stylysheets %}
{% endblock body %}


