{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="content-wrapper fos_user_user_show" style="padding: 50px; padding-top: 80px;">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="container">
        <div style="margin-bottom: 30px;">
            <h2 style="color: grey;">Change Password</h2>
        </div>
        <div class="row">
           <div class="col-sm-6">
                <div>
                    {{ form_row(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div>
                    {{ form_row(form.plainPassword, { 'attr': {'class': 'form-control', 'required': 'true'} }) }}
                </div>
                <div>
                    {{ form_row(form.plainPassword, { 'attr': {'class': 'form-control', 'required': 'true'} }) }}
                </div>
                <div>
                    <input class="btn btupd" type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% include "footer.html.twig" %}
{% block stylysheets %}
    <style>
        .btupd{
            color: #fff;
            background-color: #27cadc;
            border-color: #27cadc;
        }
        .btupd:hover {
            color: #fff;
            background-color: #31a1bd;
            border-color: #31a1bd;
        }
    </style>
{% endblock stylysheets %}